In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pymongo
import requests
client = pymongo.MongoClient("mongodb://ssk:ssk@cluster0-shard-00-00.zekc6.mongodb.net:27017,cluster0-shard-00-01.zekc6.mongodb.net:27017,cluster0-shard-00-02.zekc6.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-a6ldfs-shard-0&authSource=admin&retryWrites=true&w=majority")

In [2]:
for name in client.list_database_names():  
    print(name)

covid19
admin
local

In [3]:
import requests

url = "https://covid-19-coronavirus-statistics2.p.rapidapi.com/countriesData"

headers = {
    'x-rapidapi-host': "covid-19-coronavirus-statistics2.p.rapidapi.com",
    'x-rapidapi-key': "9572b12405mshda293256627a802p1a8b7bjsnaf86c920fd5a"
    }

response = requests.request("GET", url, headers=headers)
new = response.json()

In [4]:
collection = client.covid19["data"]
collection.drop()
url = "https://covid-19-coronavirus-statistics2.p.rapidapi.com/countriesData"

headers = {
    'x-rapidapi-host': "covid-19-coronavirus-statistics2.p.rapidapi.com",
    'x-rapidapi-key': "9572b12405mshda293256627a802p1a8b7bjsnaf86c920fd5a"
    }
response = requests.request("GET", url, headers=headers)
collection = client.covid19["data"]
collection.insert_many([response.json()])

In [5]:
for x in client.covid19.data.find():
    print("Data retrived")

df = pd.DataFrame(x)
df_1 = df["result"].apply(pd.Series)

Data retrived

In [6]:
df_1.head()

,country,totalCases,newCases,totalDeaths,newDeaths,totalRecovered,activeCases
0,USA,"51,425,455","+133,612","824,413",+889,"40,398,706","+55,145"
1,India,"34,721,174","+2,505","476,478",,"34,154,879","+7,948"
2,Brazil,"22,204,941","+3,720","617,521",+173,"21,414,318",
3,UK,"11,097,851","+88,376","146,937",+146,"9,658,375","+40,434"
4,Russia,"10,131,646","+28,486","294,024","+1,133","8,876,788","+37,155"